body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #170123;
    color: #F57D1F;
}

nav ul {
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto  auto;
    grid-gap: 1.5em;
}

nav li {
    display: flex;
}

nav li:hover {
    color: #EBF400;
}

.container {
    background-color: #F57D1F;
    color: white;
    width: 1000px;
    margin-top: 1em;
    border-radius: 15px
}

#aboutUs {
    display: grid;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
}

#projects {
    display: grid;
    justify-content: center;
}

#contactUs {
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 50px;
    box-sizing: border-box;/*Defines how the width and height of an element are calculated: should they include padding and borders, or not*/
    padding: 10px;
}
  
