body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #170123;
}

header {
    width: 100%;
    background-color: #F43086;
    color: #F57D1F;
    text-align: center;
    margin: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #F43086;
    color: #F57D1F;
    position: sticky;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: bold;
    
}

nav ul {
    display:grid;
    height: 60px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px;
}

nav li {
    display: flex;
    justify-content: center;
}

nav li:hover {
    color: #EBF400;
}

#btn-close {
    display: none;
}

#btn-close:checked ~.container-pop-up {
    display: none;
}

.container-pop-up {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(33, 34, 34, 0.8);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.pop_up {
    width: 33rem;
    height: 45rem;
    margin: 0;
    padding: 0;
    background-color: #170123;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
    overflow: hidden;
}

.stuffed {
    background-color: #05B6C5;
    width: 100%;
    height: 5.5rem;
}

.pop_up h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.rol {
    margin-top: 3rem;
    padding: 2rem;
    width: 100%;
    height: 4.5rem;
    display: flex;
    color: #EBF400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.rol div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 3rem;
    padding: 2rem;
    width: 100%;
    height: 4.5rem;
    color: #c67195;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: normal;
}

.info div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-pop-up {
    width: 100%;
    height: 5.5rem;
    margin-top: 3.9rem;
    background-color: #05B6C5;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    border: 0;
}

.close-pop-up label {
    display: flex;
    justify-content: center;
}

.hovered {
    background-color: #F57D1F;
    transition: all 0.6s ease;
}

.exit-pop-up {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: o; left: 0;
    z-index: -1;
}

.container {
    background-color: #F57D1F;
    color: white;
    width: 1000px;
    margin-top: 1em;
    border-radius: 15px
}

#aboutUs {
    display: grid;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
}

#projects {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    text-align: center;
}

#contactUs {
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 50px;
    box-sizing: border-box;/*Defines how the width and height of an element are calculated: should they include padding and borders, or not*/
    padding: 10px;
}